
.ATX_Now{
  background-image: url(./images/ATX_Now.png)
}

.DayPlanner{
  background-image: url(./images/DayPlanner.png)
}

.employee_database{
  background-image: url(./images/employee_database.png)
}

.quiz{
  background-image: url(./images/Quiz.png)
}

.note_taker{
  background-image: url(./images/note_taker.png)
}

.PGen{
  background-image: url(./images/PGen.png)
}
